@import "~@/assets/css/px2rem.scss";

.classify-wrap {
  overflow: auto;
  width: 100vw;
}

.search-btn {
  width: px2rem(710);
  height: px2rem(63);
  line-height: px2rem(63);
  margin: px2rem(21) auto;
  background-color: #eee;
  border-radius: 10px;
  font-size: 14px;
  color: #a1a1a1;
  text-align: center;
}

.tab-wrap {
  display: flex;
  height: px2rem(187);
  overflow-x: auto;

  .tab-item {
    padding: 10px 5px;

    .img-box {
      width: 50px;
      height: 50px;
      border: 2px solid transparent;
      border-radius: 23px;

      img {
        width: 100%;
        height: 100%;
        padding: 2.5px;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }

    p {
      margin-top: 5px;
      font-size: 12px;
      text-align: center;
    }

    &.active>.img-box {
      border-color: #d13193;
    }

    &.active>p {
      color: #fff;
      background-color: #d13193;
      font-weight: 700;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
    background: none;
  }
}

.classify-content {
  .side-bar-wrap {
    width: px2rem(158);
    position: fixed;
    top: px2rem(292);
    left: 0;
    bottom: px2rem(100);
    background-color: #f8f8f8;
    overflow: auto;

    li {
      text-align: center;
      font-size: 12px;
      height: px2rem(80);
      line-height: px2rem(80);

      &.active {
        font-weight: 700;
        color: #ff1a90;
        position: relative;
      }

      &.active::before {
        content: '';
        position: absolute;
        width: px2rem(12);
        height: px2rem(36);
        background-color: #ff1a90;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  .side-bar-wrap::-webkit-scrollbar {
    width: 0;
    background: none;
  }

  .good-list-wrap {
    position: fixed;
    top: px2rem(292);
    left: px2rem(158);
    right: 0;
    bottom: px2rem(100);
    overflow: auto;
    border-top: 1px solid #eee;

    .list-header {
      height: px2rem(52);
      padding: 0 px2rem(16);
      background-color: #fff;
      position: fixed;
      top: px2rem(292);
      left: px2rem(158);
      right: 0;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      z-index: 3;

      li {
        height: 100%;
        width: px2rem(100);
        line-height: px2rem(52);
        text-align: center;
        color: #aaa;
        position: relative;

        &.price::before {
          content: '';
          border: px2rem(8) solid transparent;
          border-bottom-color: #aaa;
          position: absolute;
          top: px2rem(8);
          right: 0;
        }

        &.price::after {
          content: '';
          border: px2rem(8) solid transparent;
          border-top-color: #aaa;
          position: absolute;
          bottom: px2rem(8);
          right: 0;
        }

        &.active {
          color: #ff1a90;
          font-weight: 700;
        }

        &.active.price-up::before {
          border-bottom-color: #ff1a90;
        }

        &.active.price-down::after {
          border-top-color: #ff1a90;
        }
      }
    }

    .list-content{
      padding-top: px2rem(54);
    }
  }
}
